@charset "UTF-8";

html {
    text-rendering: optimizeLegibility;
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.33333em;
    font-family: -apple-system, BlinkMacSystemFont, "Inter", Arial, sans-serif;
    overflow-x: hidden;
    font-weight: normal;
    opacity: 1;
    color: #263238;
    height: auto;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p {
    margin: 0;
}

label {
    margin: 0;
    font-weight: normal;
}

input, textarea {
    font-family: "Inter",Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
}

a:focus, input:focus, select:focus, textarea:focus {
    outline: none;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    /*border-bottom: 1px solid #ebebeb;*/
    /*padding-top: 8px;*/
    /*padding-bottom: 16px;*/
}
.logo {
    height: 42px;
}
.header-title {
    font-family: Georgia, serif;
    font-weight: bold;
    text-transform: uppercase;
}
.menu {
    /*padding-top: 6px;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*width: 420px;*/
    padding-top: 14px;
    display: flex;
    justify-content: space-between;
    width: 504px;
}
a.menu-link {
    color: gray;
    text-transform: uppercase;
    font-size: 12px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
a.menu-link.active {
    color: #df372f;
}
a.menu-link:hover {
    color: #df372f;
}
.index {
    background-image: url('/assets/background.jpg');
    height: calc(100vh - 125px);
    width: 100%;
    background-position: top;
    background-size: cover;
}
.history, .projects {
    max-width: 1245px;
    margin: 0 auto;
    padding: 0 30px;
    margin-top: 16px;
}
.about-owner {
    display: flex;
    justify-content: center;
    align-items: center;
}
.owner-image {
    border-radius: 99999px;
    background-image: url('/assets/AlexeyPozhidaev.png');
    height: 160px;
    width: 160px;
    background-position: center;
    background-size: cover;
    margin-right: 24px;
}
.owner-name {
    font-weight: bold;
    font-size: 14px;
}
.owner {
    color: grey;
    font-size: 12px;
    line-height: 16px;
}
.owner-bio {
    color: grey;
    font-size: 12px;
    line-height: 16px;
    margin-top: 24px;
    max-width: 320px;
    font-style: italic;
    text-align: justify;
}
.timeline {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.year-and-story {
    display: flex;
    align-items: baseline;
}
.year {
    color: #df372f;
    width: 60px;
    margin-right: 24px;
    font-size: 14px;
    font-weight: bold;
}
.year-story {
    margin-top: 6px;
    margin-bottom: 18px;
    width: 420px;
    font-size: 14px;
    text-align: justify;
}
.delimiter {
    margin-bottom: 10px;
}
.history-delimiter {
    width: 504px;
    border-bottom: 1px solid #ebebeb;
    margin: 0 auto;
    margin-top: 24px
}
.title {
    text-align: center;
    margin-bottom: 24px;
    font-size: 20px;
    text-transform: uppercase;
    color: gray;
}
.projects {
    max-width: 500px;
    display: grid;
    grid-template-columns: repeat(12,minmax(0,1fr));
    gap: 1rem;
}
.project {
    grid-column: span 4/span 4;
    height: 160px;
}
.project-img {
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
}
.project > img {
    border-radius: 5px;
}
@media (max-width: 560px) {
    .about-owner, .year-and-story {
        flex-direction: column;
    }
    .owner-image {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .owner-name, .owner {
        text-align: center;
    }
    .menu, .history-delimiter, .year-story, .projects {
        width: 360px;
    }
}
@media (max-width: 419px) {
    .history, .projects {
        padding: 0 15px;
    }
    .project {
        grid-column: span 6/span 6;
    }
    .history-delimiter, .year-story, .projects {
        width: 100%;
    }
    .menu {
        width: calc(100% - 30px);
    }
    .timeline {
        align-items: flex-start;
    }
}
